	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/12/2020 16:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-smartphone:before { content: "\f100"; }
.flaticon-open-email:before { content: "\f101"; }
.flaticon-location-pin:before { content: "\f102"; }
.flaticon-heart:before { content: "\f103"; }
.flaticon-harvest:before { content: "\f104"; }
.flaticon-healthy-food:before { content: "\f105"; }
.flaticon-water:before { content: "\f106"; }
.flaticon-gift-box:before { content: "\f107"; }
.flaticon-children:before { content: "\f108"; }