/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    /* Slider */
    .slider-content {
        left: 61px;
    }
    .slider-active .slick-arrow {
        right: 60px;
    }
    /* Support */
    /* .support-icon::after {
        left: -10px;
    }
    .support-box:hover .support-icon::after {
        left: -5px;
    } */

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    /* Menu */
    .main-menu ul li {
        margin: 0 8px;
    }
    /* Slider */
    .slider-content {
        left: 61px;
    }
    .slider-active .slick-arrow {
        right: 60px;
    }
    .slider-active .slick-arrow {
        top: 34%;
    }
    .slider-active .slick-next {
        top: 50%;
    }
    

}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    
}

/* small mobile :320px. */
@media (max-width: 767px) {
    
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
