    /*
    Flaticon icon font: Flaticon
    Creation date: 03/12/2020 16:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-smartphone:before { content: "\f100"; }
.flaticon-open-email:before { content: "\f101"; }
.flaticon-location-pin:before { content: "\f102"; }
.flaticon-heart:before { content: "\f103"; }
.flaticon-harvest:before { content: "\f104"; }
.flaticon-healthy-food:before { content: "\f105"; }
.flaticon-water:before { content: "\f106"; }
.flaticon-gift-box:before { content: "\f107"; }
.flaticon-children:before { content: "\f108"; }
    
    $font-Flaticon-smartphone: "\f100";
    $font-Flaticon-open-email: "\f101";
    $font-Flaticon-location-pin: "\f102";
    $font-Flaticon-heart: "\f103";
    $font-Flaticon-harvest: "\f104";
    $font-Flaticon-healthy-food: "\f105";
    $font-Flaticon-water: "\f106";
    $font-Flaticon-gift-box: "\f107";
    $font-Flaticon-children: "\f108";